*{
    margin: 0;
    padding: 0;
    background-color:azure;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    border:1px solid;
    padding:5px;
    box-shadow: 5px 5px 5px 5px rgb(2, 2, 78);
    margin:20px
 
}
button{
    padding:20px;
    color:aliceblue;
    background-color: rgb(2, 2, 78);
    margin:150px;
    border: 10px;
    border-radius: 10px;
}

#hamburger{
    border:0;
    font-size: 2rem;
    margin-left: auto;

}


#hamburger:hover {
    background-color: aqua;
}

img{margin:2px}


nav ul li a{
    text-decoration: none;
    display: none;
    
}

.responsive {
    display: grid;
    grid-column: 2 / 3;
    padding: 1.5rem;
    background-color: aqua;
}
.responsive a:hover {
    background-color: aqua;
    margin-left: 10px;
    transition:300ms ;
    
}

nav li a:hover{
    text-decoration-color: blueviolet;
    text-transform: uppercase;
    display: block;
}

nav ul li{
    flex-direction: column;
    
 
}
main{
    width:100%;
    margin:2px;
    padding:5px;
    
}
.intro,.one,.two, .three, .four, .five, .six, .seven{
    border:1px solid;
    box-shadow: 5px 5px 5px 5px ;
    padding:10px
}

.intro{
    background-image: url(images/hero.jpg);
}

footer {
    text-align: center;
    border:1px solid;
    padding:5px;
    box-shadow: 5px 5px 5px 5px rgb(2, 2, 78);
    margin:20px

}






