*{
    margin: 0;
    padding: 0;
    background-color:azure;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    border:1px solid;
    box-shadow: 5px 5px 5px 5px rgb(2, 2, 78);
    margin: 10px;
    
 
}
img{
    position: relative;
}
button{
    position:absolute;
    padding:10px;
    color:aliceblue;
    background-color: rgb(2, 2, 78);
    border: 10px;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: -150px;


}


#hamburger{
    border:0;
    font-size: 2rem;
    margin-left: auto;

}


#hamburger:hover {
    background-color: aqua;
}

img{margin:2px}


nav ul li a{
    text-decoration: none;
    display: none;
    
}

.responsive {
    display: grid;
    grid-column: 2 / 3;
    padding: 1.5rem;
    background-color: aqua;
}
.responsive a:hover {
    background-color: aqua;
    margin-left: 10px;
    transition:300ms ;
    
}

nav li a:hover{
    text-decoration-color: blueviolet;
    text-transform: uppercase;
    display: block;
}

nav ul li{
    flex-direction: column;
    
 
}
main{
    width:100%;
    text-align: center;
    
}
.one,.two, .three, .four, .five, .six, .seven{
    border:1px solid;
    box-shadow: 5px 5px 5px 5px ;
    padding:5px;
    
}

footer {
    text-align: center;
    border:1px solid;
    padding:5px;
    box-shadow: 5px 5px 5px 5px rgb(2, 2, 78);
    margin:20px

}






