
  *{
      margin:0;
      padding:0;
      text-decoration: none;
      list-style: none;
  }
  

nav{
    background-color:#ccc;
    width: 100%;
    display:flex
}



nav-button{
    margin: 2rem 2vw;
    background: transparent;
    border:none;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    flex-direction: column;
    
}


nav ul li a{
    display:block;
    text-decoration: none;
    color: #333;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    

}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}


nav ul.closeMenu, .icons i{
    font-size: 1rem;
    display: block;
    cursor: pointer;

}

.icons{display:inline-block}

#primaryNav.open{display: flex;}
#hamburgerBtn{
    background-color: transparent;
    border: 0;
    font-size: 24px;
    cursor: pointer;
}

#hamburgerBtn:focus{
    outline: none;
}

 #hamburgerBtn span:nth-child(1){display:block}
 #hamburgerBtn span:nth-child(2){display:none}

 #hamburgerBtn open span:nth-child(1){display:none}
 #hamburgerBtn open span:nth-child(2){display:block}

