@media screen and (min-width: 65rem) {
    /* Large */
  *{padding: 0;
    margin: 0;
  

  }

nav ul{
display: flex;
  }

#primaryNav{display:flex}

#hamburgerBtn{display:none;}

 

















    
  }











   
  
  