@media screen and (min-width: 65rem) {
  .container{
    position: relative;}
    
  #book{
    position:absolute;
    padding:10px;
    color:skyblue;
    background-color: skyblue;
    border: 10px;
    border-radius: 10px;
    z-index: 1;
    bottom: 90px;
    margin-left: 100px;
    font-size: 2em;
    list-style-type: none;
  
  
  } 

  .content{
      width: 1200px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: (4, 1fr);
      margin: 20px;
      padding: 20px;
      text-align: center;
      

    }
    
    .img-1{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .one{
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .img-2{
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .two{
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .three{
      grid-column:2/3 ;
      grid-row: 3/4;
    }
    
    .img-3{
      grid-column: 1/2;
      grid-row: 3/4;
    }


    .img-4{
      grid-column: 2/3;
      grid-row: 4/5;
    }

    .four{
      grid-column: 1/2;
      grid-row: 4/5;
    }

   .services{
     width:1200px;
     display:grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: (6, 1fr);
     margin: 20px;
     padding: 20px;
     text-align: center;
   }

   .imgs-1{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .s1{
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .imgs-2{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .s2{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .s3{
    grid-column:2/3 ;
    grid-row: 3/4;
  }
  
  .imgs-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .imgs-4{
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .s4{
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .imgs-5{
    grid-column:1/2 ;
    grid-row: 5/6;
  }

  .s5{
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .imgs-6{
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .s6{
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .imgs-7{
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .s7{
    grid-column:2/3 ;
    grid-row: 7/8;
  }

  .imgs-8{
    grid-column: 2/3;
    grid-row: 8/9;
  }

.s8{
  grid-column:1/2 ;
  grid-row: 8/9;
}

.reservation{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px ;
  align-items: vertical
  ;
}
.temples{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr  1fr 
}



#missionary{
  width:1200px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
grid-gap: 10px;
margin: auto;
padding: 10px;
text-align: center;
}

.mis1{
grid-column:2/3 ;
grid-row:1/2 ;
}

.mis2{
  grid-column:3/4 ;
  grid-row: 1/2; 
}
.mis3{
  grid-column:2/3 ;
  grid-row:2/3 ;  
}

.mis4{
  grid-column:3/4;
  grid-row:2/3 ;
}

.mis5{
  grid-column:3/4 ;
  grid-row:3/4 ;
}

.mis6{
  grid-column:1/2 ;
  grid-row:1/2;
}

#book2{
  grid-column:1/2 ;
  grid-row:2/3;
  
}
.mis7{
  grid-column: 1/2;
  grid-row: 3/4;
}

.mis8{
  grid-column: 2/3;
  grid-row: 3/4;
}


   
#reception{
  width:1200px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  margin:auto
}

.recep1{
grid-column:1/2 ;
grid-row:2/3;
}

.recep2{
  grid-column:1/2;
  grid-row: 1/2; 
}
.recep3{
  grid-column:2/3 ;
  grid-row:2/3;  
}

.recep4{
  grid-column:2/3 ;
  grid-row:1/2 ;
}

.recep5{
  grid-column:3/4;
  grid-row:2/3 ;
}

.recep6{
  grid-column:3/4 ;
  grid-row:1/2 ;
}

#book1, #book2{
  padding:10px;
  color:skyblue;
  background-color: skyblue;
  border: 10px;
  border-radius: 10px;
  font-size: 2em;
  list-style-type: none;
  margin: 20px;
  justify-content: space-around;


  }
}